*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: rgb(66, 66, 5);
}
.all
{
    position: relative;
    width: 400px;
    height: 500px;
    background:white;
    box-shadow: 100px;
    border-radius: 30px;
}
.contant
{
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 210px;
    
}
.contant div
{

margin-left: 32px;
}
.learn
{
    margin-top: 20px;
    display: inline-block;
    background-color: rgb(197, 197, 52);
    font-size: large;
}
.im
{
    margin-top: 90px;
   border-radius: 15px;
}
.html-css{
    color: rgb(137, 137, 19);
    font-size: 30px;
    font-weight: 30px;
}
.par
{
    color: rgba(100, 99, 99, 0.875);
}
.imim
{
   
    height: 50px;
}
.pim
{
    
    float: right;
    margin-top: 20px;
    margin-right: 220px;
    font: bold;
   
}

